<p id="notice"><%= notice %></p>

<h1>Listing Professional Practices</h1>

<table>
  <thead>
    <tr>
      <th>Area</th>
      <th>Charge</th>
      <th>Objective</th>
      <th>Daily tasks</th>
      <th>Observation</th>
      <th>Hire probability</th>
      <th>Flexitime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @professional_practices.each do |professional_practice| %>
      <tr>
        <td><%= professional_practice.area %></td>
        <td><%= professional_practice.charge %></td>
        <td><%= professional_practice.objective %></td>
        <td><%= professional_practice.daily_tasks %></td>
        <td><%= professional_practice.observation %></td>
        <td><%= professional_practice.hire_probability %></td>
        <td><%= professional_practice.flexitime %></td>
        <td><%= link_to 'Show', professional_practice %></td>
        <td><%= link_to 'Edit', edit_professional_practice_path(professional_practice) %></td>
        <td><%= link_to 'Destroy', professional_practice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Professional practice', new_professional_practice_path %>
